{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="wrapper" class="ic-Layout-wrapper">
			<div id="main" class="ic-Layout-columns">
				<div class="ic-Layout-watermark"></div>
				<div id="not_right_side" class="ic-app-main-content">
					<div id="content-wrapper" class="ic-Layout-contentWrapper">
						<div id="content" class="ic-Layout-contentMain" role="main">
							<div id="dashboard" class="ic-dashboard-app">
								<div id="dashboard_header_container" class="ic-Dashboard-header">
									<h1 class="ic-Dashboard-header__title">Grade</h1>
  								</div>
  								<div id="dashboard-planner" class="StudentPlanner__Container"></div>
  								<div id="dashboard-activity" class="ic-Dashboard-Activity">
    								<div class="content-section">
									<div class="media">
										<!--img class="rounded-circle account-img" src="#"-->
										<div class="media-body">
											<h2 class="account-heading">{{user.username}}</h2>
											<h3 class="account-heading">Grade: {{user.grade.grade}}</h2>
											<!--p class="text-secondary">{{user.email}}</p-->
										</div>
									</div>
  								</div>
  								<!--form method="POST" style="background-color:" enctype="multipart/form-data">
									{% csrf_token %}e
									<fieldset class="form-group">
										<legend class="broder-bottom mb-4"><h3>Grade Info</h3></legend>
										{{g_form|crispy}}
									</fieldset>
									<div class="form-group">
										<button class="btn btn-outline-info" type="submit">Update</button>
									</div>
								</form-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock content%}
