{% extends "dashboard/base.html" %}
{% block content %}
	<div id="dashboard_header_container" class="ic-Dashboard-header">
		<h1 class="ic-Dashboard-header__title">Dashboard</h1>
	</div>
  	<div id="dashboard-planner" class="StudentPlanner__Container"></div>
  	<div id="dashboard-activity" class="ic-Dashboard-Activity">
    
		<article class="media content-section">
		 	<div class="media-body">
		    	<h2><a class="article-title" href="#">{{object.name}}</a></h2>
		    	<h3><a href="{% url 'assignment' object.id %}">Assignments</a></h3>
		    	<h3><a href="#">Grades</a></h3>
		    	<h3><a href="#">Announcements</a></h3>
		  	</div>
		</article>
	
  	</div>
{% endblock content%}
